.infoBox {
  flex: 1;
  cursor: pointer;
  padding: 15px;
}

.MuiCardContent-root:last-child {
  padding: 0 !important;
}

.infoBox:not(:last-child) {
  margin-right: 15px;
}

.infoBox--selected {
  border-top: 10px solid greenyellow;
}

.infoBox--redBox {
  border-color: #fe4a49;
}

.text--color--green {
  color: #49fe4a !important;
}

.infoBox_cases {
  color: #fe4a49;
  font-weight: 600;
  font-size: 30px;
}

.infoBox_total {
  color: #6c757d;
  font-weight: 700 !important;
  font-size: 15px !important;
}

@media (max-width: 600px) {
    .infoBox:not(:last-child) {
        margin-right: 0;
      }
  }



