.table {
  margin-top: 20px;
  height: 400px;
  overflow: auto;
  color: #6a5d5d;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.table::-webkit-scrollbar {
  display: none;
}

.table tr {
  display: flex;
  justify-content: space-between;
  padding-left: 5px;
  padding-right: 5px;
}

.table td {
  padding: 3px;
}

.table tr:nth-of-type(odd) {
  background-color: #e6e6ea;
}
